/* styles go here */
.form-field {
  display: block;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.fieldset:not(:last-child) {
  margin-bottom: 20px;
}

.loveCats {
  display: inline-block;
}
